{% extends '::base.html.twig' %}

{% block content -%}
    <h1>{{ board.name }}</h1>
    <a style="margin-right:10px" class="t-btn-default btn btn-warning pull-right" href="{{ path('board_edit', { 'id': board.id }) }}">Edit</a>
    <a style="margin-right:10px" class="btn btn-default pull-right" href="{{ path('task_new') }}">New task</a>

    {{ form(delete_form) }}

    <div class="well">
        <div>{{ board.description }}</div>
        <div class="well" style="margin-top:25px">
            {% set counter = 0 %}
            {% for task in tasks %}
                {% if task.done == 1 %}
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
            {% if tasks|length > 0 %}
                {% set percentage = ((counter / tasks|length)|round(2, 'floor')) * 100 %}
            {% else %}
                {% set percentage = 0 %}
            {% endif %}
            <span>{{ percentage }}% Complete</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%;">
                </div>
            </div>
        </div>
    </div>
        {% for task in tasks %}
            {% if task.done == 1 %}
                {% set progress = 'Done' %}
            {% else %}
                {% set progress = 'In progress' %}
            {% endif %}
            <div class="col-sm-6 col-md-4">
                <div style="overflow:hidden" class="thumbnail">
                    <h4>{{ task.name }}</h4>
                    <span>Status : {{ progress }}</span>
                    <div class="well">{{ task.description }}</div>
                    <a class="t-btn-default btn btn-warning pull-right" href="{{ path('task_edit', { 'id': task.id }) }}">Edit</a>
                </div>
            </div>
        {% endfor  %}
{% endblock %}
