{% extends '::base.html.twig' %}

{% block content -%}
    <h1>{{ board.name }}</h1>
    <a class="t-btn-default btn btn-default pull-right" href="{{ path('board') }}">Back to the list</a>
    <a style="margin-right:10px" class="t-btn-default btn btn-warning pull-right" href="{{ path('board_edit', { 'id': board.id }) }}">Edit</a>

    {{ form(delete_form) }}

    <div class="well">
        <div>{{ board.description }}</div>
        <div class="well" style="margin-top:25px">
            <span>{{ board.status }}% Complete</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ board.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ board.status }}%;">
                </div>
            </div>
        </div>
    </div>

        {% for task in tasks %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <h4>{{ task.name }}</h4>
                    <span>{{ task.status }}% Complete</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ task.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.status }}%;">
                        </div>
                    </div>
                    <div class="well">{{ task.description }}</div>
                </div>
            </div>
        {% endfor  %}
{% endblock %}
